.page {
  background: #f0f0f0;
  padding: 20px;
  margin: 20px;
}
.menu{
  width:100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
